{% extends "./base.html" %}
{% load static %}
{% block title %} Eliminar {% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2>Eliminar Blog</h2>
        <div class="card">
            <div class="card-body">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <p>Estás seguro que desea eliminar "{{ blog }}"?</p>
                        {{ form }}
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Confirmar" class="btn btn-danger btn-block text-white">

                    </div>
                </form>
            </div>
        </div>
        <div class="card-body">
            {#          <button type="submit" class="btn btn-info text-black">Crear categoría</button>#}
            <a href="{% url 'blog_list' %}" class="btn btn-info text-black">Atrás</a>
        </div>
    </div>
</div>
{% endblock %}