{% extends "./base.html" %}
{% load static %}
{% block title %} Detalles {% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2>Detalles Categoría</h2>
        <div class="card">
            <div class="card-body">
                <form action="{% url 'categoria_detail' pk=categoria.id %}"  method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>Nombre:</label>
                            {{ categoria.nombre }}
{#                        <input type="text" id="nombre" name="nombre" readonly value="{{categoria.nombre}}" class="form-control" placeholder="Name"#}
{#                            required>#}
                    </div>
                    <div class="form-group">
                        <label>Descripción:</label>
                            {{ categoria.descripcion }}
{#                        <input type="text" id="descripcion" name="descripcion" readonly value="{{categoria.descripcion}}" class="form-control" placeholder="Contenido"#}
{#                            required>#}
                    </div>
{#                    <div class="form-group">#}
{#                        <input type="text" id="categoria" name="categoria" value="{{blog.categoria}}" class="form-control"#}
{#                        placeholder="Skill"required>#}
{#                    </div>#}
{#                    <div class="form-group">#}
{#                        <button type="submit" class="btn btn-success btn-block text-white">Editar</button>#}
{#                        <a href="{%  url 'BlogList' %}" class="btn btn-secondary btnDelete">Regresar</a>#}
{#                    </div>#}
                </form>
            </div>
        </div>
        <div class="card-body">
            {#          <button type="submit" class="btn btn-info text-black">Crear categoría</button>#}
            <a href="{% url 'categoria_list' %}" class="btn btn-info text-black">Atrás</a>
        </div>
    </div>
</div>
{% endblock %}