{% extends "./base.html" %}
{% block title %} Edit {% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2>Editar Blog</h2>
        <div class="card">
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
{#                        <input type="text" id="titulo" name="titulo" value="{{blog.titulo}}" class="form-control" placeholder="Name"#}
{#                            required>#}
                        {{ form.titulo }}
                    </div>
                    <div class="form-group">
{#                        <input type="text" id="contenido" name="contenido" value="{{blog.contenido}}" class="form-control" placeholder="Contenido"#}
{#                            required>#}
                        {{ form.contenido }}
                    </div>
                    <div class="form-group">
{#                        <input type="text" id="categoria" name="categoria" value="{{blog.categoria}}" class="form-control"#}
{#                        placeholder="Skill"required>#}
                        {{ form.categoria }}
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white">Editar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}